.rodape { 
    padding: 4rem 0 0 0; 
} 

.rodape-container { 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
    background-color: #53362A; 
    background-image: url('/assets/img/footer.png'); 
    background-repeat: no-repeat; 
    background-size: cover; 
} 

.rodape-subcontainer { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5rem; 
} 

.rodape-subcontainer__grupo { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
} 

.rodape-subcontainer__grupo_titulo { 
    color: #fce3b5; 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0 0 2rem 0; 
} 

.rodape-subcontainer__grupo_paragrafo { 
    cursor: pointer; 
} 

.gap { 
    gap: 3rem; 
} 

.no-pointer { 
    cursor: default; 
} 